.dropzone {
  border: 2px dashed transparent;
  outline: dashed 1px var(--stroke-default);
  border-radius: .25rem;
  display: grid;
  justify-items: center;

  gap: .5rem;
  text-align: center;
  padding: 1.75rem 1rem;
  position: relative;


  & input {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  & p {
    color: #a8a29e;

  }

  &:hover, &:has(input:focus) {
    outline: 0;
    border-color: var(--stroke-highlight);
    background-color: var(--surface-secondary);
    
    & p {
      color: var(--stroke-tertiary);
    }

    & svg path {
      stroke: var(--stroke-highlight)
    }
  }

}